{
    "parser": "babel-eslint",
    "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
},
"extends": ["airbnb", "prettier"],
"env": {
    "browser": true,
    "jest": true
},
"rules": {
    "prefer-promise-reject-errors": ["off"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["off"],
    "no-use-before-define": ["off"],
    "no-param-reassign": ["off"],
    "react/destructuring-assignment": ["off"],
    "react/jsx-filename-extension": ["off"],
    "jsx-a11y/mouse-events-have-key-events": ["off"],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "react/jsx-props-no-spreading": ["off"]
  }
}